article.film {
	background: #fff;
	border: 1px dashed #fff;
	padding: 0.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

article.film header {
	background: #E7E7E7;
	color: #5FD7FF;
	font-size: 1.7em;
	font-weight: normal;
	text-shadow: 1px 1px 1px #7F7F7F;
	border-bottom: 2px dotted #ccc;
	margin: 0;
	padding: 0.8em;
	text-align: center;
}

article.film aside {
	float: left;
	width: 20%;
}

article.film aside img {
	max-width: 90%;
}

article.film section {
	float: left;
	width: 80%;
}

article.film footer {
	background: #29C7FF;
}

article.film footer a {
	color: #142da6;
}

article.film footer a:hover {
	color: #a65a0b;
}