/*
GENERAL
*/
body{
	color: white;
	background-color: black;
	background-image: url(../../img/background.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

body a{
	color: white;
}

banniere{
	position: fixed;
	z-index: 10;
	top: 0px;
	left: -3%;
	width: 103%;
	height: 160px;
	padding-left: 30px;
	background-image: url(../../img/banniere.jpg);
	background-repeat: no-repeat;
	background-color: black;
	box-shadow: 0px 0px 3px #FFFFFF;
}

banniere img{
	position: relative;
	top: -5px;
	left: 5%;
	width: 35%;
	height: auto;
	max-width: 595px;
}

#form{
	position: float;
	float: right;
	height: 90%;
}

#inscription{
	position: relative;
	z-index: 7;
	right: -110px;
	top: -110px;
	height: 20px;
	width: 80px;
}

.deconnexion{
	float: right;
	margin: 10px;
	margin-right: 50px;
}

banniere form{
	position: relative;
	z-index: 12;
	right: 40px;
	top: 20px;
}

form label{
	display: block;
	z-index: 12;
}
form input[type="submit"]{
	background-color: rgba(255,255,255, 0.5);
	color: black;
	z-index: 15;
}
form input[type="text"],select{
	min-width: 50px;
	max-width: 250px;
	background-color: rgba(255,255,255, 0.5);
	color: black;
	z-index: 15;
}
form input[type="password"]{
	min-width: 50px;
	max-width: 250px;
	background-color: rgba(255,255,255, 0.5);
	color: black;
	z-index: 15;
}

banniere form[id="form_inscr"]{
    border: 1px solid white;
}

banniere form input{
	z-index: 12;
}
banniere form select{
	z-index: 12;
}

nav{
	position: float;
	float: top;
	min-width: 500px;
	z-index: 9;
	width: 80%;
	margin-left: 5%;
	margin-top: 160px;
	padding: 10px;
	padding-right: 25px;
	background-image: url(../../img/banniere.jpg);
	background-repeat: no-repeat;
	background-color: black;
	box-shadow: 0px 0px 3px #FFFFFF;
}

nav img{
	position: float;
	float: right;
	box-shadow: -1px 0px 10px white;
}

nav a {
	font-size: 200%;
    text-decoration: none;
	padding-left: 5%;
	color: #fff; 
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 
	0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 
	0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135; 
	font: 'ChunkFiveRegular';
}

#barre-recherche{
	position: float;
	float: top;
	min-width: 500px;
	z-index: 9;
	width: 80%;
	margin-left: 5%;
	padding: 10px;
	padding-left: 0px;
	padding-bottom: 20px;
	padding-right: 35px;
	background-image: url(../../img/banniere.jpg);
	background-repeat: no-repeat;
	background-color: black;
	box-shadow: 0px 0px 3px #FFFFFF;
}

#plus{
	position: float;
	float: right;
	box-shadow: -1px 0px 10px white;
}

#barre-recherche form input{
	position: float;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 300px;
}

#barre-recherche:after {
  display: block;
  content: "";
  clear: both;
}

#loupe{
	position: float;
	float: left;
	margin-left: 10px;
	box-shadow: -1px 0px 10px white;
}

/*
FILMS
*/

#films{
	position: relative;
	width: 70%;
	left: 15%;
	padding: 10px;
	padding-top: 20px;
	padding-right: 25px;
	background-color: rgba(0,0,0, 0.5);
	background-attachment:fixed;
	box-shadow: 0px 0px 3px #FFFFFF;
}
#films:after {
  display: block;
  content: "";
  clear: both;
}

article.formArticle {
	padding-bottom: 30px;
}

article.film {
	position: float;
	float: left;
	margin: 10px;
	width : 120px;
	height: 180px;
	background-color: black;
	box-shadow: 1px 0px 10px white;
}


article.film:hover header {
	visibility: visible;
}

article.film header {
	visibility: hidden;
	position: relative;
	top: -185px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black, -2px -2px 3px black;
	text-shadow: 2px 1px 2px #000, 4px 3px 3px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.5);
	box-shadow: -1px 0px 10px white;
	padding: 2px;
	z-index : 2;
}

article.film aside img {
	position: relative;
	top: 0px;
	width : 120px;
	height: 180px;
	z-index: 1;
}

/*
ACTEURS
*/

#acteurs{
	position: relative;
	width: 70%;
	left: 15%;
	padding: 10px;
	padding-top: 20px;
	padding-right: 25px;
	background-color: rgba(0,0,0, 0.5);
	background-attachment:fixed;
	box-shadow: 0px 0px 3px #FFFFFF;
}
#acteurs:after {
  display: block;
  content: "";
  clear: both;
}

article.acteur {
	position: float;
	float: left;
	margin: 10px;
	width : 120px;
	height: 180px;
	background-color: black;
	box-shadow: 1px 0px 10px white;
}

article.acteur header {
	visibility: hidden;
	position: relative;
	top: -185px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black, -2px -2px 3px black;
	text-shadow: 2px 1px 2px #000, 4px 3px 3px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.5);
	box-shadow: -1px 0px 10px white;
	padding: 2px;
	z-index : 2;
}

article.acteur:hover header{
	visibility: visible;
}

article.acteur aside img {
	position: relative;
	top: 0px;
	width : 120px;
	height: 180px;
	z-index: 1;
}

/*
FORMULAIRE
*/

.formulaire, .one{
	position: relative;
	width: 70%;
	left: 15%;
	min-width: 480px;
	padding: 10px;
	padding-top: 20px;
	padding-right: 25px;
	background-color: rgba(0,0,0, 0.5);
	background-attachment:fixed;
	box-shadow: 0px 0px 3px #FFFFFF;
}

.formulaire header, .one header{
	color: white;
	font-size: 200%;
	text-shadow: 0px 0px 3px #FFFFFF;
	margin: 10px;
}

.formulaire .portrait, .informations, .filmographie, .role{
	min-width: 450px;
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 0px 3px #FFFFFF;
}

.filmographie:after {
    display: block;
    content: "";
    clear: both;
}

.formulaire .role input{
	position: relative;
	left: 20px;
}

.formulaire .role img{
	position: relative;
	margin-right: 10px;
    width : 120px;
    height: 180px;
}

.formulaire .role{
    float: left;
    min-width: 250px;
}

.formulaire .portrait input{
	margin-left: 30px;
}

.formulaire .url_img{
	margin: 10px;
}

.formulaire #file_tools{
	position: float;
	float: right;
}

.formulaire input[type="text"], select{
	position: relative;
	margin: 10px;
	width: 80%;
}

.formulaire input[type="checkbox"]{
	position: relative;
	margin: 10px;
}

.formulaire .checkboxFilm{
	visibility: hidden;
}

/*
UNE PAGE
*/

.one:after {
    display: block;
    content: "";
    clear: both;
}

.one h2{
	color: white;
	font-size: 150%;
	text-shadow: 0px 0px 3px #FFFFFF;
	margin: 10px;
	margin-top: 40px;
	margin-left: 40px;
}

.one input[type="radio"]{
}

.one img{
	box-shadow: 0px 0px 3px #FFFFFF;
	margin: 5px;
	float: right;
	max-width: 150px;
	height: auto;
}

.one input[type="submit"]{
	position: relative;
	margin: 10px;
}

.one textarea{
	max-width: 100%;
	min-width: 150px;
	height: 100%;
	margin: 10px;
}

.one .infos, .one .description{
	float: left;
	min-width: 200px;
	max-width: 200px;
	min-height: 200px;
	margin: 10px;
	padding: 10px;
	padding-top: 20px;
	padding-right: 25px;
	background-color: rgba(0,0,0, 0.5);
	box-shadow: 0px 0px 3px #FFFFFF;
}

.one .realisateur{
	float: left;
	min-width: 200px;
	max-width: 400;
	margin: 10px;
	padding: 10px;
	padding-top: 20px;
	padding-right: 25px;
	background-color: rgba(0,0,0, 0.5);
	box-shadow: 0px 0px 3px #FFFFFF;
}
/*
 ...
*/

#note {
	display: inline-block;
}

#note span {
	position:relative;
}

#note span label {
    display:inline-block;
    width:20px;
    height:20px;
    text-align:center;
    color:#FFF;
    background:#F90;
    font-size:20px;
    margin-right:2px;
    line-height:20px;
    border-radius:50%;
    -webkit-border-radius:50%;
}

#note #nul label {
    display:inline-block;
    width:20px;
    height:20px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:20px;
    margin-right:2px;
    line-height:20px;
    border-radius:50%;
    -webkit-border-radius:50%;
}

#rating {
	display: inline-block;
}

#rating span {
	float:right;
	position:relative;
}

#rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}

#rating span label {
    display:inline-block;
    width:20px;
    height:20px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:20px;
    margin-right:2px;
    line-height:20px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
#rating span:hover ~ span label,
#rating span:hover label,
#rating span.checked label,
#rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

form input[type="submit"]{
	background-color: rgba(255,255,255, 0.5);
	color: black;
	z-index: 9;
}
