body{
	color: white;
	background-color: black;
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;clear: both;
}

body a{
	color: white;
}

banniere{
	position: absolute;
	top: 0px;
	left: -3%;
	width: 103%;
	background-color: black;
	background-image: url(../img/banniere.jpg);
	background-repeat: no-repeat;
	box-shadow: 0px 0px 3px #FFFFFF;
}

banniere img{
	position: relative;
	left: 5%;
	width: 40%;
	height: auto;
	max-width: 595px;
}

#form{
	position: float;
	float: right;
}

#inscription{
	position: float;
	float: right;
}

#inscription p{
	position: relative;
	top: 20px;
	right: 100%;
}

banniere form{
	position: relative;
	right: 50%;
	top: 20px;
}

banniere form label{
	display:block
}
banniere form input{
	background-color: rgba(255,255,255, 0.5);
	color: white;
}
#films{
	position: relative;
	top: 100px;
	left: 3%;
	width: 95%;
}

article.film {
	position: float;
	float: left;
	margin: 10px;
	width : 120px;
	height: 180px;
	background-color: black;
	box-shadow: 1px 0px 10px white;
}

article.film header {
	position: relative;
	top: 0px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 2px black, -2px -2px 3px black;
	text-shadow: 2px 1px 2px #000, 4px 3px 3px rgba(0,0,0,0.8);
	background-color: rgba(0,0,0,0.5);
	box-shadow: -1px 0px 10px white;
	padding: 2px;
	z-index : 2;
}
article.film aside img {
	position: absolute;
	top: 10px;
	width : 120px;
	height: 180px;
	z-index: 1;
}